.scramble {
  margin-top: 72px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  height: 25vh;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  white-space: pre-line;
}

@media (max-width: 600px) {
  .scramble {
  }
}

@media (max-width: 600px) and (orientation: landscape) {
  .scramble {
  }
}
