.select {
  border: none;
  background: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  height: 32px;
  min-width: 64px;
  -webkit-tap-highlight-color: transparent;
}

.select > option {
  color: #000;
}
