.select {
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  height: 32px;
  min-width: 72px;
  -webkit-tap-highlight-color: transparent;
  appearance: none;
  background: none;
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='5' viewBox='7 10 10 5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  padding-right: 16px;
}

.select > option {
  color: #000;
}
