.solves {
  background: #fff;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  min-width: 216px;
  grid-area: solves;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.solveList {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  grid-auto-rows: min-content;
}

.divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  grid-column: 1/-1;
  height: 1px;
}

.dividerItem {
  height: 16px;
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
}

.dividerItemLine {
  height: 8px;
  border-bottom: 1px solid #444;
  flex: 1;
}

.dividerIcon {
  margin: 0 4px;
  height: 16px;
}

.historyButton {
  --mdc-theme-primary: #3f51b5;
  fill: #3f51b5;
  /*fill: var(--mdc-theme-text-primary-on-dark, #fff);*/
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0;
  width: 100%;
  min-height: 48px;
}

.historyButtonExpanded {
  composes: historyButton;
}

.historyIcon {
  width: 24px;
  height: 100%;
}

.solveItem {
  display: inline-block; /*No effect on grid*/
}

.emptyItem {
  grid-column: 1/-1;
  padding: 0 16px;
  vertical-align: middle;
  line-height: 48px;
}

.solveListItem {
  height: 48px;
  padding: 0 16px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.solveListItem.popupOpen {
  background-color: rgba(0, 0, 0, 0.08);
}

.solveListItemText {
  vertical-align: middle;
  line-height: 48px;
  font-weight: 500;
  color: #3f51b5;
  user-select: none;
}

.solvePopup {
  position: fixed;
  background: white;
  padding: 16px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  display: inline-grid;
  max-width: 350px;
  grid-template-columns: auto 1fr;
  grid-template-rows: 48px auto 40px 40px;
  grid-template-areas:
    'time timestamp'
    'scramble scramble'
    'penalty penalty'
    'actions actions';
}

.solvePopupTime {
  grid-area: time;
  padding: 0 0 8px;
  font-size: 24px;
}

.solvePopupTimestamp {
  grid-area: timestamp;
  align-self: start;
  text-align: end;
  padding: 0 0 8px 8px;
  white-space: pre-line;
}

.solvePopupScramble {
  grid-area: scramble;
  padding: 0 0 16px;
  font-size: 16px;
  font-family: monospace;
}

.solvePopupActions {
  grid-area: actions;
  --mdc-theme-primary: #000;
  margin-top: 8px;
  justify-self: end;
}

.solvePopupPenalty {
  grid-area: penalty;
  flex-direction: row;
  align-self: start;
  display: flex;
  border: 2px solid grey;
  border-radius: 2px;
}

.penaltyButton {
  --mdc-theme-primary: #000;
  flex: 1;
  min-width: 36px;
}
.penaltyButtonNone {
  border-radius: 2px 0px 0px 2px !important;
}
.penaltyButtonTwo {
  border-left: 2px solid grey !important;
  border-right: 2px solid grey !important;
  border-radius: 0px 0px 0px 0px !important;
}
.penaltyButtonDnf {
  border-radius: 2px 0px 0px 2px !important;
}

@media (max-width: 840px) {
  .solves {
    flex-direction: row;
    height: 48px;
    white-space: nowrap;
  }

  .solvesExpanded {
    composes: solves;
    position: fixed;
    width: 100%;
    height: auto;
    top: 56px;
    bottom: 0;
    flex-direction: column;
  }

  .solveList {
    overflow-x: auto;
    overflow-y: hidden;
    display: block; /*disable grid*/
  }

  .solveListExpanded {
    composes: solveList;
    display: grid;
  }

  .historyButton {
    width: auto;
    height: 100%;
  }

  .historyButtonExpanded {
    width: 100%;
    height: 48px;
  }

  .solvePopup {
    padding: 24px;
    width: calc(100% - 32px);
    max-width: 360px;
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    overflow: auto;
    background: #fff;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
      0px 24px 38px 3px rgba(0, 0, 0, 0.14),
      0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    white-space: normal;
  }
}
