.dialog {
}

.dialog-row {
  display: flex !important;
  align-items: center !important;
  padding-bottom: 16px;
}

.vertical-center-icon {
  vertical-align: middle !important;
  width: 24px !important;
  height: 24px !important;
}

.dialog-row-text {
  padding-left: 16px !important;
  flex: 1 !important;
}
