.tabs {
  height: 56px;
  background: #3f51b5;
  display: flex;
  flex-direction: row;
}

.tab {
  color: rgba(255, 255, 255, 0.24);
  flex: 1;
  display: inline-block;
  height: 56px;
  text-align: center;
  vertical-align: middle;
  line-height: 56px;
}

.active {
  color: #fff;
}
