@font-face {
  font-family: digital-7-mono;
  src: url('../fonts/digital-7-mono.woff2') format('woff2');
  font-display: swap;
}

.timer {
  grid-area: timer;
  justify-self: stretch;
  align-self: stretch;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'scramble'
    'timerText'
    'stats';
}

.timerText {
  grid-area: timerText;
  justify-self: center;
  align-self: center;
  font-size: 15vw;
  font-family: digital-7-mono, monospace;
  font-feature-settings: 'tnum';
  user-select: none;
  cursor: default;
  transition: color 0s;
}

.scramble {
  grid-area: scramble;
  justify-self: stretch;
  font-family: monospace;
  font-size: 18px;
  padding: 16px;
  text-align: center;
  white-space: pre-line;
  user-select: none;
}

@media (max-width: 599px) {
  .timerText {
    font-size: 25vw;
  }
}

@media (max-width: 599px) and (orientation: landscape) {
  .timerText {
    font-size: 20vh;
  }
}

.ready {
  transition: color 0.5s;
}

.stopped {
  color: #f44336;
}

.handOnTimer {
  color: #4caf50;
}
